body.cke_show_borders {
  margin: 10px;
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  font-size: 12px;*/
/*  line-height: 20px;*/
/*  color: #747474;*/
/*  background: #EEE;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
/*  color: #0190a3;*/
/*  line-height: 1em;*/
}

h1 {
/*  font-size: 30px;*/
}

h2 {
/*  font-size: 22px;*/
}

h3 {
/*  font-size: 19px;*/
}

h4 {
/*  font-size: 17px;*/
}

h5 {
/*  font-size: 16px;*/
}

h6 {
/*  font-size: 15px;*/
}

a:link,
a:visited {
/*  text-decoration: none;*/
/*  color: #09a8bd;*/
}
